
.box{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

  .innerbox{
    display: flex;
    justify-content: center;
    height: 56.5%; 
    width: 100%;
    max-width: 1200px; 
    /* background-color: black; */
    border: solid #000 2px;
    border-radius: 3px; 
}


.subbox{
    width: 50%;
    position: relative;
    display: flex;
    
}

.subbox .pic{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: auto;
    cursor: pointer;
}

.text{
    font-size: 36px;
    padding: 2rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clickme{
    font-size: 20px;
}

.ibuild{
/* font-size: 60px;
font-weight: 300; */
color: grey;


font: 200 50px 'Oswald', sans-serif;
/* color: #000; */
/* text-transform: uppercase; */
/* letter-spacing: 6px; */
}

.myname{
    font: 500 60px 'Oswald', sans-serif;
}

.hi{
    font: 800 90px 'Oswald', sans-serif;
}