body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 1) 2.5s;
    animation-fill-mode: forwards;
    
}

.text-wrapper{
    color: white;
    position: absolute;
}

.text{
    font-family: Roboto;
    font-weight: lighter;
    font-size: 54px;
}

.text-1 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}


@keyframes blink {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 100%;
    } 
    70%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
    
}

.text-1{
    animation: blink 3s linear 0s;
    opacity: 0;
}


@keyframes slide-out-container {
    0%{
        height: 100vh;
    }
    10%{
        height: 100vh;
    } 
    100%{
        height: 0%;
    }
}

inputi[type='checkbox']{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
}

.icon{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100001;
    background: #000;
    pointer-events: none;
}

.icon::before{
    content: 'close';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;

}


input[type='checkbox']:checked ~ .icon::before{
    content: 'menu';
}

ul{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 20px;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    background-color: #000;
    transition: 0.5s;
    z-index: 100000;
    overflow-y: auto;
}


input[type='checkbox']:checked ~ ul
{
    left: -300px;
}

ul li{
    list-style: none;
}

ul li a {
    display: block;
    color: fff;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}

ul li a:hover{
    transform: translatex(10px);
    color: #ff0;
}

.inputi{
    float: right;
}

section{
    /* position: relative; */
    left: 300px;
    padding: 100px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type='checkbox']:checked ~ section
{
    left: 0px;
}